@model IEnumerable<SandileComicBookClub.Models.Member>

@{
    ViewBag.Title = "Members";
}
<br />
<h2>Registered Members</h2>
<br />
<p>
    @Html.ActionLink("Register New", "Register")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MemberID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CellPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Administrator)
        </th>
      
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrator)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MemberID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MemberID })
                @if (User.Identity.Name.ToLowerInvariant() != item.Username.ToLowerInvariant())
                {
                    @Html.Raw("|") @Html.ActionLink("Delete", "Delete", new { id = item.MemberID })
                }

            </td>

        </tr>
    }

</table>