<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Book Club Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="/Home/Index"><div><img class="pic-box" src="~/Content/Images/Logo_Red.png" alt="Comic Book Club Header" title="Home" /></div></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>

                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Borrowed Books", "MyBooks", "Borrowing")</li>
                        <li>@Html.ActionLink("Returned Books", "MyReturnedBooks", "Borrowing")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @*<footer class="text-center flex-container">
        <div class="flex-item-65">
            <p>&copy; @DateTime.Now.Year - Sandile Comic Book Club - Created by Sandile Manyoni (220521409)</p>
        </div>
        <div class="flex-item-35">
            <img class="altlogo" src="~/Content/Images/LogoFooter.png" alt="Sandile CBC Logo" />
        </div>
    </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
